.recent-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.recent-title h3 {
  font-weight: 500;
}

.recent-list {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
