.product-brand-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 36px 41px;
  border-color: rgba(60, 60, 67, 0.29);
  border-style: solid;
  border-width: 0 1px 1px 0;
}

.product-brand-card-title {
  font-size: 15px;
  font-weight: 500;
  margin: 8px 0 0 0;
}

.product-brand-card-items {
  font-size: 13px;
  margin: 0 0 34px 0;
}

.heart-icon {
  width: 28px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 163px;
}

.product-image {
  width: 100%;
}

.product-card-body {
  height: 131px;
  text-align: center;
  border-color: rgba(60, 60, 67, 0.29);
  border-style: solid;
  border-width: 0 1px 1px 0;
}

.product-model-title {
  width: 60%;
  margin: 18px auto;
  font-size: 15px;
  font-weight: 500;
}